@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.thumbnail-link {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  visibility: hidden;
}

.button.dropdown-item {
  border: none;
  width: 100%;
  text-align: left;
}
.button.dropdown-item:hover, :focus {
  color: #0a0a0a;
  background-color: whitesmoke;
}

.button.dropdown-item.is-active {
  background-color: #3273dc;
  color: #fff;
}

.dropdown-menu {
  min-width: 5em;
}

.spotify-artist-link, .spotify-artist-link::before {
  content: ", ";
}

.spotify-link {
  color: #2ab858;
}

.reddit-link {
  color: #ff4500;
}


.tracks-list, .spotify-track, .spotify-icon {
  display: none;
}


.icon svg {
  fill: currentColor;
  display: inline-block;
  vertical-align: text-bottom;
}

svg:not(:root) {
  overflow: hidden;
}

